div {
	width: 500px;
	margin: auto;
	h1 {
		font-size: 32px;
		font-family: $default-font-family;
	}
	p {
		padding: 10px;
		color: $default-color
	}
}



.done-true {
    text-decoration: line-through;
    color: grey;
}
